<aside class="sidebar" [class.collapsed]="isCollapsed">
  <!-- Logo e Toggle -->
  <div class="sidebar-header">
    <div class="logo-container" *ngIf="!isCollapsed">
      <img src="maestro_withe.png" alt="Maestro Logo" class="logo-icon" />
    </div>
    
    <button class="toggle-btn" (click)="toggleSidebar()" [title]="isCollapsed ? 'Expandir menu' : 'Recolher menu'">
      <!-- Ícone de barras quando fechado -->
      <svg *ngIf="isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <!-- Ícone de X quando aberto -->
      <svg *ngIf="!isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Menu de Navegação -->
  <nav class="sidebar-nav">
    <ul class="menu-list">
      <li *ngFor="let item of visibleMenuItems" class="menu-item">
        <!-- Menu com subcategorias -->
        <div *ngIf="item.children && item.children.length > 0" class="menu-item-container">
          <div
            class="menu-link"
            [class.has-children]="true"
            [title]="isCollapsed ? item.label : ''"
            (click)="toggleSubmenu(item.label, $event)"
          >
            <!-- Ícone Material Symbol -->
            <span *ngIf="item.iconType === 'material-symbol'" class="material-symbols-outlined menu-icon">
              {{ item.icon }}
            </span>
            <!-- Ícone com viewBox customizado (fill) -->
            <svg *ngIf="item.iconType === 'custom-viewbox'" 
                 class="menu-icon" 
                 xmlns="http://www.w3.org/2000/svg" 
                 [attr.viewBox]="item.iconViewBox" 
                 [attr.fill]="item.iconFill ? 'currentColor' : 'none'">
              <path [attr.d]="item.icon" />
            </svg>
            <!-- Ícone padrão (stroke) -->
            <svg *ngIf="!item.iconType || item.iconType === 'path'" 
                 class="menu-icon" 
                 xmlns="http://www.w3.org/2000/svg" 
                 fill="none" 
                 viewBox="0 0 24 24" 
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="item.icon" />
            </svg>
            <span class="menu-label" *ngIf="!isCollapsed">{{ item.label }}</span>
            <svg *ngIf="!isCollapsed" class="chevron-icon" [class.expanded]="isMenuExpanded(item.label)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
          
          <!-- Submenu -->
          <ul class="submenu" *ngIf="!isCollapsed && isMenuExpanded(item.label)">
            <li *ngFor="let child of item.children" class="submenu-item">
              <a 
                [routerLink]="child.route" 
                routerLinkActive="active"
                class="submenu-link"
              >
                <span *ngIf="child.iconType === 'material-symbol'" class="material-symbols-outlined submenu-icon">
                  {{ child.icon }}
                </span>
                <svg *ngIf="!child.iconType || child.iconType === 'path'" class="submenu-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="child.icon" />
                </svg>
                <span class="submenu-label">{{ child.label }}</span>
              </a>
            </li>
          </ul>
        </div>
        
        <!-- Menu sem subcategorias -->
        <a 
          *ngIf="!item.children || item.children.length === 0"
          [routerLink]="item.route" 
          routerLinkActive="active"
          class="menu-link"
          [title]="isCollapsed ? item.label : ''"
        >
          <!-- Ícone Material Symbol -->
          <span *ngIf="item.iconType === 'material-symbol'" class="material-symbols-outlined menu-icon">
            {{ item.icon }}
          </span>
          <!-- Ícone com viewBox customizado (fill) -->
          <svg *ngIf="item.iconType === 'custom-viewbox'" 
               class="menu-icon" 
               xmlns="http://www.w3.org/2000/svg" 
               [attr.viewBox]="item.iconViewBox" 
               [attr.fill]="item.iconFill ? 'currentColor' : 'none'">
            <path [attr.d]="item.icon" />
          </svg>
          <!-- Ícone padrão (stroke) -->
          <svg *ngIf="!item.iconType || item.iconType === 'path'" 
               class="menu-icon" 
               xmlns="http://www.w3.org/2000/svg" 
               fill="none" 
               viewBox="0 0 24 24" 
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="item.icon" />
          </svg>
          <span class="menu-label" *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Rodapé com Usuário e Logout -->
  <div class="sidebar-footer">
    <div class="user-info" *ngIf="currentUser$ | async as user">
      <div class="user-avatar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="user-details" *ngIf="!isCollapsed">
        <p class="user-name">{{ user.name }}</p>
        <p class="user-email">{{ user.email }}</p>
      </div>
    </div>
    
    <button class="logout-btn" (click)="onLogout()" [title]="isCollapsed ? 'Sair' : ''">
      <svg class="logout-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span *ngIf="!isCollapsed">Sair</span>
    </button>
  </div>
</aside>
